body {
  background-color: #d31f1f;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: none;
  background-attachment: fixed;
  color: #fff;
  border-radius: 20px;
  bottom: 20px;
  margin-bottom: 20px;
  transition: 1s;
}
headerhover {
  transition: 1s;
  background-image: none;
}

#headerfuel {
  background-image: url("./images/fond-texture-planche-bois-noir_53876-138962.jpg");
}
#headerfuel:hover {
  background-color: yellowgreen;
  color: #343b3d;
}

.header2 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header2:hover {
  background-color: orange;
  color: #343b3d;
}
.header3 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header3:hover {
  background-color: #3b1702;
  color: #ffffff;
}
.header4 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header4:hover {
  background-color: #fffd40;
  color: #000000;
}
.header5 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header5:hover {
  background-color: #84490f;
  color: #000000;
}
.header6 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header6:hover {
  background-color: #3a7d18;
  color: #000000;
}
.header7 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header7:hover {
  background-color: #c7343f;
  color: #000000;
}
.header8 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header8:hover {
  background-color: #e7a767;
  color: #000000;
}
.header9 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header9:hover {
  background-color: #e8571b;
  color: #000000;
}
.header10 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header10:hover {
  background-color: #f0deb6;
  color: #000000;
}
.header11 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  color: #ff0000;
  border-radius: 20px;
  bottom: 20px;
  align-self: center;
  margin-bottom: 20px;
  transition: 1s;
}
.header11:hover {
  transition: 1s;
  background-color: rgb(255, 144, 144);
  color: #ffffff;
}
.header12 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header12:hover {
  background-color: #aa7b5b;
  color: #000000;
}
.header13 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header13:hover {
  background-color: #00ccff;
  color: #000000;
}
.header14 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header14:hover {
  background-color: royalblue;
  color: #000000;
}
.header15 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header15:hover {
  background-color: rgb(255, 17, 0);
  color: #000000;
}
.header16 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header16:hover {
  background-color: #edfeec;
  color: #000000;
}
.header17 {
  background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
}
.header17:hover {
  background-color: #edfefc;
  color: #000000;
}

.flex1 {
  background-color: yellowgreen;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex1:hover {
  transform: scale(1.1);
}
.flex2 {
  background-color: orange;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex2:hover {
  transform: scale(1.1);
}
.flex3 {
  background-color: #3b1702;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex3:hover {
  transform: scale(1.1);
}
.flex4 {
  background-color: #fffd40;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex4:hover {
  transform: scale(1.1);
}
.flex5 {
  background-color: #84490f;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex5:hover {
  transform: scale(1.1);
}
.flex6 {
  background-color: #3a7d18;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex6:hover {
  transform: scale(1.1);
}
.flex7 {
  background-color: #c7343f;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex7:hover {
  transform: scale(1.1);
}
.flex8 {
  background-color: #e7a767;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex8:hover {
  transform: scale(1.1);
}
.flex9 {
  background-color: #e8571b;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex9:hover {
  transform: scale(1.1);
}
.flex10 {
  background-color: #f0deb6;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex10:hover {
  transform: scale(1.1);
}
.flex11 {
  background-color: rgb(255, 144, 144);
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex11:hover {
  transform: scale(1.1);
}
.flex12 {
  background-color: #aa7b5b;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex12:hover {
  transform: scale(1.1);
}
.flex13 {
  background-color: #00ccff;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex13:hover {
  transform: scale(1.1);
}
.flex14 {
  background-color: royalblue;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex14:hover {
  transform: scale(1.1);
}
.flex15 {
  background-color: rgb(255, 17, 0);
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex15:hover {
  transform: scale(1.1);
}
.flex16 {
  background-color: #edfeec;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex16:hover {
  transform: scale(1.1);
}
.flex17 {
  background-color: #edfefc;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flex17:hover {
  transform: scale(1.1);
}

#img {
  border-radius: 7px;
}

#divimage {
  width: 310px;
  height: 520px;
  margin: 40px;
}

#diving {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

#divasso {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section11 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section13 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section14 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section15 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section16 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section17 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.titre {
  align-self: center;
  justify-self: center;
}

#divimagecaf {
  width: 310px;
  height: 640px;
  margin-right: 40px;
  align-self: center;
}

.img {
  margin: 20px;
}

#prenom {
  padding: 8px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 7px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.commander {
  padding: 5px;
  background-color: #d31f1f;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 6px;
  transition: 1s;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 3px;
  margin-bottom: 40px;
}
.commander:hover {
  background-color: #fff;
  transform: translateY(2px);
  color: #ff0000;
}

#commentaire {
  padding: 8px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 7px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}/*# sourceMappingURL=ficheCocktail.css.map */