body {
  background-color: #d31f1f;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: none;
  background-attachment: fixed;
  color: #d31f1f;
  background-color: #fff;
  border-radius: 20px;
  bottom: 20px;
  margin-bottom: 20px;
  transition: 1s;
}
headerhover {
  transition: 1s;
  background-image: none;
}

#headerfuel:hover {
  background-color: yellowgreen;
  color: #000000;
}

#headervo:hover {
  background-color: orange;
  color: #000000;
}

#headerguinness:hover {
  background-color: #3b1702;
  color: #ffffff;
}

#headerbambou:hover {
  background-color: #fffd40;
  color: #000000;
}

#headerwhiskas:hover {
  background-color: #84490f;
  color: #000000;
}

#headermojito:hover {
  background-color: #3a7d18;
  color: #000000;
}

#headermonaco:hover {
  background-color: #c7343f;
  color: #000000;
}

#headerringo:hover {
  background-color: #e7a767;
  color: #000000;
}

#headermepuru:hover {
  background-color: #e8571b;
  color: #000000;
}

#headeryawarakai:hover {
  background-color: #f0deb6;
  color: #000000;
}

#headerdiabolo_sakura:hover {
  background-color: rgb(255, 144, 144);
  color: #ffffff;
}

#headerdiabolo_umi:hover {
  background-color: rgb(46, 61, 196);
  color: #000000;
}

#headerdiabolo_shokusei:hover {
  background-color: rgb(12, 138, 6);
  color: #000000;
}

#headerdiabolo_onsen:hover {
  background-color: rgb(0, 184, 129);
  color: #000000;
}

#headerlifeblood:hover {
  background-color: #00ccff;
  color: #000000;
}

#headerkora:hover {
  background-color: royalblue;
  color: #000000;
}

#headernichibotsu:hover {
  background-color: rgb(255, 17, 0);
  color: #000000;
}

#headerremon:hover {
  background-color: #edfefc;
  color: #000000;
}

#headercreamy_coffee:hover {
  background-color: #db8e6f;
  color: #000000;
}

.flexfuel {
  background-color: yellowgreen;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexfuel:hover {
  transform: scale(1.1);
}
.flexvo {
  background-color: orange;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexvo:hover {
  transform: scale(1.1);
}
.flexguinness {
  background-color: #3b1702;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexguinness:hover {
  transform: scale(1.1);
}
.flexbambou {
  background-color: #fffd40;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexbambou:hover {
  transform: scale(1.1);
}
.flexwhiskas {
  background-color: #84490f;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexwhiskas:hover {
  transform: scale(1.1);
}
.flexmojito {
  background-color: #3a7d18;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexmojito:hover {
  transform: scale(1.1);
}
.flexmonaco {
  background-color: #c7343f;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexmonaco:hover {
  transform: scale(1.1);
}
.flexringo {
  background-color: #e7a767;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexringo:hover {
  transform: scale(1.1);
}
.flexmepuru {
  background-color: #e8571b;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexmepuru:hover {
  transform: scale(1.1);
}
.flexyawarakai {
  background-color: #f0deb6;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexyawarakai:hover {
  transform: scale(1.1);
}
.flexdiabolo_sakura {
  background-color: rgb(255, 144, 144);
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexdiabolo_sakura:hover {
  transform: scale(1.1);
}
.flexdiabolo_umi {
  background-color: rgb(46, 61, 196);
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexdiabolo_umi:hover {
  transform: scale(1.1);
}
.flexdiabolo_shokusei {
  background-color: rgb(12, 138, 6);
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexdiabolo_shokusei:hover {
  transform: scale(1.1);
}
.flexdiabolo_onsen {
  background-color: rgb(0, 184, 129);
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexdiabolo_onsen:hover {
  transform: scale(1.1);
}
.flexlifeblood {
  background-color: #00ccff;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexlifeblood:hover {
  transform: scale(1.1);
}
.flexkora {
  background-color: royalblue;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexkora:hover {
  transform: scale(1.1);
}
.flexnichibotsu {
  background-color: rgb(255, 17, 0);
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexnichibotsu:hover {
  transform: scale(1.1);
}
.flexremon {
  background-color: #edfefc;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexremon:hover {
  transform: scale(1.1);
}
.flexcreamy_coffee {
  background-color: #db8e6f;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.flexcreamy_coffee:hover {
  transform: scale(1.1);
}

#img {
  border-radius: 7px;
}

#divimage {
  width: 310px;
  height: 520px;
  margin: 40px;
}

#diving {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

#divasso {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section11 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section13 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section14 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section15 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section16 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#section17 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.titre {
  align-self: center;
  justify-self: center;
}

#divimagecaf {
  width: 310px;
  height: 640px;
  margin-right: 40px;
  align-self: center;
}

.img {
  margin: 20px;
}

#prenom {
  padding: 8px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 7px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.commander {
  padding: 5px;
  background-color: #d31f1f;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 6px;
  transition: 1s;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 3px;
  margin-bottom: 40px;
}
.commander:hover {
  background-color: #fff;
  transform: translateY(2px);
  color: #ff0000;
}

#commentaire {
  padding: 8px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 7px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}/*# sourceMappingURL=ficheCocktail.css.map */