body {
  background-color: #d31f1f;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: none;
  background-attachment: fixed;
  color: #d31f1f;
  background-color: #fff;
  border-radius: 20px;
  bottom: 20px;
  //align-self: center;
  margin-bottom: 20px;
  transition: 1s;
  &hover {
    transition: 1s;
    background-image: none;
  }
}
#headerfuel {
  &:hover {
    background-color: yellowgreen;
    color: #000000;
  }
}
#headervo {
  &:hover {
    background-color: orange;
    color: #000000;
  }
}
#headerguinness {
  &:hover {
    background-color: #3b1702;
      color: #ffffff;
  }
}
#headerbambou {
  &:hover {
    background-color: #fffd40;
      color: #000000;
  }
}
#headerwhiskas {
  &:hover {
    background-color: #84490f;
      color: #000000;
  }
}
#headermojito {
  &:hover {
    background-color: #3a7d18;
      color: #000000;
  }
}
#headermonaco {
  &:hover {
    background-color: #c7343f;
      color: #000000;
  }
}
#headerringo {
  &:hover {
    background-color: #e7a767;
      color: #000000;
  }
}
#headermepuru {
  &:hover {
    background-color: #e8571b;
      color: #000000;
  }
}
#headeryawarakai {
  &:hover {
    background-color: #f0deb6;
      color: #000000;
  }
}
#headerdiabolo_sakura {
  &:hover {
    background-color: rgb(255, 144, 144);
      color: #ffffff;
  }
}
#headerdiabolo_umi {
  &:hover {
    background-color: rgb(46, 61, 196);
      color: #000000;
  }
}
#headerdiabolo_shokusei {
  &:hover {
    background-color: rgb(12, 138, 6);
      color: #000000;
  }
}
#headerdiabolo_onsen {
  &:hover {
    background-color: rgb(0, 184, 129);
      color: #000000;
  }
}
#headerlifeblood {
  &:hover {
    background-color: #00ccff;
      color: #000000;
  }
}
#headerkora {
  &:hover {
    background-color: royalblue;
      color: #000000;
  }
}
#headernichibotsu {
  &:hover {
    background-color: rgb(255, 17, 0);
      color: #000000;
  }
}
#headerremon {
  &:hover {
    background-color: #edfefc;
      color: #000000;
  }
}
#headercreamy_coffee {
  &:hover {
    background-color: #db8e6f;
      color: #000000;
  }
}
.flex {
  &fuel {
    background-color: yellowgreen;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &vo {
    background-color: orange;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &guinness {
    background-color: #3b1702;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &bambou {
    background-color: #fffd40;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &whiskas {
    background-color: #84490f;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &mojito {
    background-color: #3a7d18;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &monaco {
    background-color: #c7343f;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &ringo {
    background-color: #e7a767;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &mepuru {
    background-color: #e8571b;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &yawarakai {
    background-color: #f0deb6;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &diabolo_sakura {
    background-color: rgb(255, 144, 144);
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &diabolo_umi {
    background-color: rgb(46, 61, 196);
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &diabolo_shokusei {
    background-color: rgb(12, 138, 6);
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &diabolo_onsen {
    background-color: rgb(0, 184, 129);
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &lifeblood {
    background-color: #00ccff;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &kora {
    background-color: royalblue;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &nichibotsu {
    background-color: rgb(255, 17, 0);
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &remon {
    background-color: #edfefc;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &creamy_coffee {
    background-color: #db8e6f;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
#img {
  border-radius: 7px;
}
#divimage {
  width: 310px;
  height: 520px;
  margin: 40px;
}
#diving {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}
#divasso {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
#section {
  &1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &9 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &10 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &11 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &13 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &14 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &15 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &16 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  &17 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
.titre {
  align-self: center;
  justify-self: center;
}
#divimagecaf {
  width: 310px;
  height: 640px;
  margin-right: 40px;
  align-self: center;
}
.img {
  margin: 20px;
}
#prenom {
  padding: 8px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 7px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.commander {
  padding: 5px;
  background-color: #d31f1f;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 6px;
  transition: 1s;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 3px;
  margin-bottom: 40px;
  &:hover {
    background-color: #fff;
    transform: translateY(2px);
    color: #ff0000;
  }
}
#commentaire {
  padding: 8px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 7px;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
